###############################################
#  The Practical Markup Language Playground:  #
#  https://github.com/tajmone/pml-playground  #
###############################################

pml_tags.json
PML_meta_data.json

## Project Output
#################

# PML converted contents:
**/output/**
/pandoc/filters-lua/pml-writer/tests/**/css/
/pandoc/filters-lua/pml-writer/tests/**/*.html
# pandoc JSON AST files:
/pandoc/filters-lua/pml-writer/**/*.json
# pandoc/PML error logs:
**/errors.log

## Stylesheets Folder
#####################
/stylesheets/css__*/*.html
/stylesheets/css__*/css/
/stylesheets/css__*/**/*.css
/stylesheets/css__*/**/*.css.map
/stylesheets/src-docs/*.html
/stylesheets/src-docs/css/

## TMP Work Files
#################
___*.*

# Links and URLs:
*.lnk
*.url

#########################
## USER-SPECIFIC FILES ##
#########################
# Reserved for patterns that might be useful to end users of the project.
# If you need a pattern added here, submit via a PR or open an Issue.


############################
## COMMON IGNORE PATTERNS ##
############################

## Apps Local Settings & Temp Files
###################################

# Chrome's debug logs for local HTML pages:
debug.log

## Linux
########
*~
.directory
.fuse_hidden*
.nfs*
.Trash-*

## macOS
########
*.DS_Store
._*
.AppleDouble
.LSOverride
Icon

## Windows
##########
Thumbs.db
ehthumbs.db
ehthumbs_vista.db
Desktop.ini
.BIN/

# EOF #
