###############################################
#  The Practical Markup Language Playground:  #
#  https://github.com/tajmone/pml-playground  #
###############################################

* text=auto

## Repository Configuration
###########################
.editorconfig    text eol=lf
.travis.yml      text eol=lf
.gitattributes   text eol=lf
.gitconfig       text eol=lf
.gitignore       text eol=lf
.gitmodules      text eol=lf

## Documentation Files
######################
*.pml     text linguist-language=PML
*.md      text
*.txt     text
LICENSE   text

## Scripts
##########
*.sh   text eol=lf

# EOF #
