###############################################
#  The Practical Markup Language Playground:  #
#  https://github.com/tajmone/pml-playground  #
###############################################

* text=auto

## Repository Configuration
###########################
.editorconfig    text eol=lf
.travis.yml      text eol=lf
.gitattributes   text eol=lf
.gitconfig       text eol=lf
.gitignore       text eol=lf
.gitmodules      text eol=lf

## Documentation Files
######################
*.ad         text
*.adoc       text
*.asciidoc   text
*.markdown   text
*.md         text
*.pml        text linguist-language=PML
*.txt        text
LICENSE      text

## Scripts
##########
*.bat   text eol=crlf
*.com   text eol=crlf
*.lua   text
*.rb    text
*.sh    text eol=lf

## Sass/CSS
###########
*.scss   text
*.css    text eol=lf linguist-generated=true

## HTML
#######
*.html   text linguist-generated=true

# EOF #
